/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --color-background: var(--vt-c-black);
        --color-background-soft: var(--vt-c-black-soft);
        --color-background-mute: var(--vt-c-black-mute);

        --color-border: var(--vt-c-divider-dark-2);
        --color-border-hover: var(--vt-c-divider-dark-1);

        --color-heading: var(--vt-c-text-dark-1);
        --color-text: var(--vt-c-text-dark-2);
    }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  /* font-weight: normal; */
}

body {
  margin: 0;
  padding: 0;

  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  display: flex;
  flex-direction: column;
}

html,
body {
  height: 100%;
}

h1 {
  font-size: 2rem;
  padding: 0rem 2rem 0.5rem;
  text-align: center;

  background: #fff3cd;
  text-shadow: 6px 6px 0px rgba(0, 0, 0, 0.2);

  background: url("./images/belts.svg") repeat-x top left;
  background-color: #4a0d66;
  color: #fff;
}

h1 small {
  display: block;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  text-align: center;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

li a {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 0 0 1rem 0;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  padding: 0.85em 1em;
  background-color: rgb(19.55, 102.85, 158.1);
  background-color: #60e2fc;
  color: #fefefe;
}

header {
  display: flex;
  gap: 0 1rem;
  height: 80px;
  padding: 10px;

  align-items: center;
  justify-content: center;

  /* background: linear-gradient(
    45deg,
    rgb(227 242 245),
    hsl(232.73deg 37.08% 82.55%)
  ); */
  background: linear-gradient(
    45deg,
    rgb(224 238 245),
    hsl(55.9deg 85.51% 89.13%)
  );
}

header > div {
  height: 100%;
  display: flex;
  align-items: center;
}

header img {
  /* max-width: 100%; */
}

header .cpttm img {
  height: 70%;
}

header .dsedj img {
  height: 95%;
}

header .msc img {
  height: 45%;
}

header .mcs img {
  height: 45%;
}

header .corp,
header .sup {
  font-weight: bold;
  border-right: 1px solid #ccc;
  padding: 1rem;
}

header .sup {
  margin-left: 2rem;
}

main {
  margin: 0 1rem;
  flex: 1;
}

main .names {
  text-align: center;
}

.school-name {
  font-size: 1.25rem;
}

.comp-name {
  font-size: 2.25rem;
  margin: 0.5rem 0;

  font-weight: bold;
  color: lightsalmon;
}

.medal {
  margin-top: 0.5rem;
}
.medal img {
  width: 96px;
}

section {
  display: flex;
  gap: 0 2rem;
  justify-content: center;
  margin: 2rem;
}

section .names {
  flex-basis: 40%;
  flex-grow: 0;
}

.work-icons {
  display: flex;
  gap: 0 2rem;
  align-items: center;
}

.work-icons a {
  display: grid;
  place-items: center;
  width: 96px;
  height: 96px;
  padding: 0;
}

.work-icons a {
  font-size: 4rem;
}

footer {
  padding: 1rem;
  font-size: smaller;
  background: url("./images/belts.svg") repeat-x bottom left;
}

.animate-charcter {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  /* font-size: 190px; */
}

@keyframes textclip {
  to {
    background-position: -200% center;
  }
}

.button {
  position: relative;
  display: inline-block;
  /* margin: 20px; */
}

.button a {
  color: white;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  /* font-size: 36px; */
  text-align: center;
  text-decoration: none;
  background-color: #ffa12b;
  display: block;
  position: relative;
  padding: 20px 20px;

  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 1px 0px #000;
  filter: dropshadow(color=#000, offx=0px, offy=1px);

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, 0 10px 0 #915100;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.button a:active {
  top: 10px;
  background-color: #f78900;

  -webkit-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
  -moz-box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3pxpx 0 #915100;
  box-shadow: inset 0 1px 0 #ffe5c4, inset 0 -3px 0 #915100;
}

.button:after {
  content: "";
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -1px;
  left: -0px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.glow {
  /* text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500,
    0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000; */
  color: #fff6a9;
  /* font-family: "Sacramento", cursive; */
  font-size: 2.5rem;
  /* text-align: center; */
  /* animation: blink 12s infinite; */
  /* -webkit-animation: blink 12s infinite; */
}

@media screen and (max-width: 480px) {
  header {
    height: 48px;
    font-size: 0.75rem;
    gap: 0 0.5rem;
    padding: 4px;
  }

  header .corp,
  header .sup {
    width: 4rem;
    flex-basis: 4rem;
    padding: 0;
    margin-right: 0.5rem;
  }

  header .sup {
    margin-left: 0.5rem;
  }

  h1 {
    font-size: 1rem;
  }

  .glow {
    font-size: 1.25rem;
  }

  main {
    margin: 0;
  }

  section {
    flex-flow: wrap;
    gap: 0 0.5rem;
    margin: 2rem 0.5rem;
    margin-bottom: 4rem;
  }

  section .names {
    flex-basis: 60%;
  }

  section .comp-name {
    font-size: 1.75rem;
  }
}
